body {
    background-color: #118C4E;
	color: white;
	font-family: "Lucida Console",Monospace;
	
}

.textbox { 
    background: #FF9009; 
    height:30px; 
    width: 275px;  
    border: none; 
    color: black; 
    padding-left: 1.5em;
	font-style: bold;	
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%) 
} 


table{
border-collapse: collapse;
}
table td {
  border: solid 2px #000;
}
table tr:first-child {
  background: #FF9009;
}








