<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
    <meta charset="utf-8">
    <title>OOPS - 404</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% assets "404_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body>
    <canvas id="dotty"></canvas>
    <div class="content">
        <div class="content-box">
            <div class="big-content">
                <div class="list-square">
                    <span class="square"></span>
                    <span class="square"></span>
                    <span class="square"></span>
                </div>
                <div class="list-line">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <div class="clear"></div>
            </div>
            <h1>Oops! Error 404 not found.</h1>
            <p>The page you were looking for doesn't exist.
                <br> We think the page may have moved.
            </p>
            <br><br>
            <p>
                <h3><a href="{{ url_for( 'index') }}">Go Home</a></h3>
            </p>
        </div>
    </div>
    {% assets "404_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
</body>

</html>
