{% extends "layout.html" %}
{% block title %}Delete Account{% endblock %}
{% block page %}Delete Account{% endblock %}
{% block main %}
<div class="card">
    <div class="card-header bg-white text-xs-center">
        <h4 class="card-title">Delete Account</h4>
    </div>
    {% if error %}
    <div class="text-xs-center alert alert-danger">
        <strong> {{ error }} </strong>
    </div>
    {% endif %}
    <div class="p-2 tab-content">
        <form action="." method='post' class="form-horizontal">
            <div class="form-group row">
                <div class="col-sm-8 offset-sm-5">
                    <div class="media">
                        <div class="media-left">
                            <button type="submit" class="btn btn-danger btn-block">
                                <span class="btn-block-text">Delete Account</span>
                            </button>
                        </div>
                        <div class="media-body media-middle pl-1">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}