<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <meta name="robots" content="noindex">
    <!-- Material Design Icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Roboto Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet"> {% assets "_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}
</head>

<body class="login">
    <div class="row">
        <div class="col-sm-8 push-sm-1 col-md-4 push-md-4 col-lg-4 push-lg-4">
            <div class="text-xs-center m-2">
                <div class="icon-block rounded-circle">
                    <i class="material-icons md-36 text-muted">lock</i>
                </div>
            </div>
            {% if message %}
            <div class="text-xs-center alert alert-info">
                <strong> {{ message }} </strong>
            </div>
            {% endif %}
            <div class="card bg-transparent">
                <div class="card-header bg-white text-xs-center">
                    <h4 class="card-title">Login</h4>
                    <p class="card-subtitle">Access your account</p>
                </div>
                <div class="p-2">
                    <form action='index' method='post'>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group ">
                            <button type="submit" class="btn  btn-primary btn-block">
                                <span class="btn-block-text">Login</span>
                            </button>
                        </div>
                        <div class="text-xs-center">
                            <a href="ForgotPassword"><small>Forgot Password?</small></a>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-xs-center bg-white">
                    Not yet a member? <a href="signup/">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr>
        <div class="container-fluid">
            <div class="row text-xs-center">
                <h5 class="card-title">Made with <i class="fa fa-heart" style="font-size:16px;color:red;"></i> by </h5><br>
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="col-sm-4">
                        <img src="/static/images/profilePic.png" alt="Aastha" class="rounded-circle" width="40">
                        <h6>Aastha Gupta</h6>
                    </div>
                    <div class="col-sm-4">
                        <img src="/static/images/profilePic.png" alt="Aditi" class="rounded-circle" width="40">
                        <h6>Aditi Sharma</h6>
                    </div>
                    <div class="col-sm-4">
                        <img src="/static/images/profilePic.png" alt="Deepika" class="rounded-circle" width="40">
                        <span><h6>Deepika Naryani</h6></span>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </footer>
    {% assets "_js" %}
    <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
</body>

</html>
