{% extends "layout.html" %}
{% block title %}Edit Account{% endblock %}
{% block page %}Edit Account{% endblock %}
{% block main %}
<div class="card">
    <div class="card-header bg-white text-xs-center">
        <h4 class="card-title">Edit Account</h4>
    </div>
    {% if message %}
    <div class="text-xs-center alert alert-success">
        <strong> {{ message }} </strong>
    </div>
    {% endif %}
    <div class="p-2 tab-content">
        <form action="." method='post' class="form-horizontal">
            <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">Full Name</label>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="fname" placeholder="First Name" value="{{userdata.fname}}">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="lname" placeholder="Last Name" value="{{userdata.lname}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted">mail</i>
                                        </span>
                        <input type="email" class="form-control" name="email" placeholder="Email Address" value="{{userdata.email}}" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted">person</i>
                                        </span>
                        <input type="text" class="form-control" name="username" placeholder="Username" value="{{userdata.username}}" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Country</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted"></i>
                                        </span>
                        <input type="text" class="form-control" id="country" name="country" placeholder="country" value="{{userdata.country}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Date of Birth</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted"></i>
                                        </span>
                        <input type="date" class="form-control" name="dob" placeholder="mmddyyyy" value="{{userdata.dob}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Organization type</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted"></i>
                                        </span>
                        <input type="text" class="form-control" name="otype" placeholder="Organization type" value="{{userdata.otype}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Organization Name</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted"></i>
                                        </span>
                        <input type="text" class="form-control" name="oname" placeholder="Organization Name" value="{{userdata.oname}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Organization city</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                                            <i class="material-icons md-18 text-muted"></i>
                                        </span>
                        <input type="text" class="form-control" name="ocity" placeholder="Organization city" value="{{userdata.ocity}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">Organization country</label>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"></span>
                        <input type="text" class="form-control" name="ocountry" placeholder="Organization type" value="{{userdata.ocountry}}">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-8 offset-sm-3">
                    <div class="media">
                        <div class="media-left">
                            <button type="submit" class="btn btn-primary btn-block">
                                <span class="btn-block-text">Save changes</span>
                            </button>
                        </div>
                        <div class="media-body media-middle pl-1">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
