{% extends "layout.html" %}
{% block title %}Add Solution{% endblock %}
{% block page %}Add Solution{% endblock %}
{% block main %}
<div class="col-lg-7">
    <div class="card">
        <div class="card-header bg-white text-xs-center">
            <h4 class="card-title">Add Solution</h4>
        </div>
        {% if message %}
        <div class="text-xs-center alert alert-success">
            <strong> {{ message }} </strong>
        </div>
        {% endif %}
        <div class="p-2 tab-content">
            <form action="." method='post'>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12">
                        <div class="input-group">
                            <select name="qname" class="form-control">
                                {% for row in subData %}
                                <option value="{{row[0]}}">{{ row[0] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12">
                        <div class="input-group">
                            <select name="language" class="form-control">
                                <option value="C++">C++</option>
                                <option value="C">C</option>
                                <option value="JAVA">JAVA</option>
                                <option value="ADA">ADA</option>
                                <option value="Python">Python</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12">
                        <div class="input-group">
                            <select name="stauts" class="form-control">
                                <option value="ACCEPTED">Accepted</option>
                                <option value="TLE">TLE</option>
                                <option value="COMPILATION ERROR">Compilation Error</option>
                                <option value="WRONG ANSWER">Wrong Answer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12">
                        <div class="input-group">
                            <span class="btn-block-text">
                            <button type="reset" value="Reset" class="btn  btn-primary">
                                Reset
                            </button>
                            <button type="submit" class="btn btn-success">
                                <i class="material-icons btn__icon--right">send</i>
                                Submit
                            </button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}